dn: olcDatabase={2}hdb,cn=config
changetype: modify
replace: olcSuffix
olcSuffix: dc={{domain.split('.')[0] | lower}},dc={{domain.split('.')[1] | lower}}

dn: olcDatabase={2}hdb,cn=config
changetype: modify
replace: olcRootDN
olcRootDN: cn={{directory_manager}},dc={{domain.split('.')[0] | lower}},dc={{domain.split('.')[1] | lower}}

dn: olcDatabase={2}hdb,cn=config
changetype: modify
replace: olcRootPW
olcRootPW: {{password_hash.stdout}} 
